@import "@scss/palette";

.banner-section {
  background-color: rgba($secondary, 0.9);
  border-bottom-right-radius: 50px;
  padding: 165px 0;
  position: relative;

  &::before {
    background-color: $pure-white;
    border-radius: 20px;
    bottom: -70px;
    content: "";
    height: 115px;
    left: -70px;
    position: absolute;
    transform: rotate(165deg);
    width: 230px;
  }
}
