/*
 * This is where we put all colors that we use throughout the app.
 *
*/

$pure-black: #484848;
$pure-white: #ffffff;

$primary: #656fd4;
$secondary: #1c2742;

$grey: #f0f2f6;
$grey-dark: #a6bcd0;
