/*
 * This is where we put all colors that we use throughout the app.
 *
*/

$pure-black: #484848;
$pure-white: #ffffff;

$blue-primary: #4468af;
$blue-secondary: #6684c3;
$blue-dark: #2b3e6b;

$grey: #f0f2f6;
$grey-dark: #a6bcd0;
