* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.background {
    width: 1400px;
    margin: auto;

    &__img {
        display: block;
        height: auto;
        margin: auto;
    }
}