@import "@scss/palette";

.main-content {
  background-color: $background;
  padding-top: 85px;

  &.without-gap {
    padding-top: 0;
  }
}

@media only screen and (max-width: 991px) {
  .main-content {
    padding-top: 0;
  }
}
