@import "@scss/palette";

$transition-timing: cubic-bezier(0.25, 1, 0.5, 1);

.talents {
  overflow: hidden;
  padding-bottom: 115px;
  padding-top: 190px;

  .swiper-container {
    left: 150px;
    position: absolute;
    right: 50%;
    top: -80px;
    z-index: 10;
  }

  .swiper-slide {
    opacity: 0 !important;
    z-index: -1;
  }

  .swiper-slide-active {
    opacity: 1 !important;
    z-index: 1;
  }

  &__section-number {
    background-color: $primary;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    color: $pure-white;
    font-family: "Bebas Neue";
    font-size: 128px;
    left: 8px;
    padding: 150px 25px 0 25px;
    position: absolute;
    top: 0;
    z-index: 5;
  }

  &__slider {
    margin-top: 60px;
    position: relative;
  }

  &__image-wrapper {
    height: 0;
    padding-top: 178.75%;
    position: relative;
  }

  &__image {
    height: 100%;
    object-fit: contain;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &__content {
    color: $pure-white;
    margin-left: auto;
    padding: 0 25px 0 35px;
    position: relative;
    transition: opacity 0.4s $transition-timing;
    width: 50%;
    z-index: 1;

    &::before {
      background-color: rgba($secondary, 0.9);
      bottom: 25px;
      content: "";
      left: -100vw;
      right: -100vw;
      position: absolute;
      top: 0;
      z-index: -1;
    }

    &.transition {
      opacity: 0;
    }
  }

  &__title-wrapper {
    padding-top: 60px;
    transition: opacity 0.4s $transition-timing;

    &.transition {
      opacity: 0;
    }
  }

  &__title {
    font-size: 48px;
    font-weight: 700;
    margin: 0;
  }

  &__biography {
    font-size: 16px;
    line-height: 25px;
    margin: 0;
    margin-top: 60px;
    padding: 25px 15px;
    position: relative;
    transition: opacity 0.4s $transition-timing;

    &.transition {
      opacity: 0;
    }

    &::before,
    &::after {
      background-image: url("@images/icons/arrow-line.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      content: "";
      filter: brightness(0) invert(1);
      height: 15px;
      position: absolute;
      width: 15px;
    }

    &::before {
      left: 0;
      top: 0;
    }

    &::after {
      bottom: 0;
      right: 0;
      transform: rotate(180deg);
    }
  }

  &__navigation {
    margin-top: 65px;

    div {
      box-shadow: 0px 5px 15px 0px rgba($pure-black, 0.4);
    }
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .talents {
    padding-bottom: 65px;
    padding-top: 140px;

    .swiper-container {
      left: 50px;
    }

    &__section-number {
      font-size: 96px;
    }

    &__title {
      font-size: 36px;
      padding-top: 40px;
    }

    &__biography {
      font-size: 14px;
      margin-top: 40px;
    }

    &__navigation {
      margin-top: 45px;
    }
  }
}

@media only screen and (max-width: 991px) {
  .talents {
    padding-bottom: 0;
    padding-top: 120px;

    .swiper-container {
      left: 0;
      position: relative;
      right: 0;
      top: 0;
    }

    &__section-number {
      border-bottom-left-radius: 40px;
      border-bottom-right-radius: 40px;
      font-size: 96px;
      padding-top: 50px;
    }

    &__slider {
      margin-top: 50px;
      padding: 60px 0;

      &::before {
        background-color: $secondary;
        bottom: 0;
        content: "";
        left: -100vw;
        right: -100vw;
        position: absolute;
        top: 0;
      }
    }

    &__image-wrapper {
      padding-top: 75%;
    }

    &__content {
      background-color: rgba($primary, 0.8);
      border-radius: 20px;
      bottom: 50px;
      padding: 25px 35px;
      position: absolute;
      width: 100%;
      z-index: 10;

      &::before {
        content: none;
      }
    }

    &__title-wrapper {
      padding-top: 0;
    }

    &__biography {
      margin-top: 40px;
    }

    &__navigation {
      margin-top: 45px;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 20;
    }
  }
}

@media only screen and (max-width: 575px) {
  .talents {
    &__section-number {
      border-bottom-left-radius: 30px;
      border-bottom-right-radius: 30px;
      font-size: 64px;
    }

    &__slider {
      padding: 60px 0;
    }

    &__image-wrapper {
      padding-top: 125%;
    }

    &__content {
      border-radius: 10px;
      bottom: 20px;
      padding: 25px;
    }

    &__title {
      font-size: 36px;
    }

    &__biography {
      font-size: 14px;
      margin-top: 20px;
    }

    &__navigation {
      margin-top: 25px;
    }
  }
}
