@import "@scss/pallete";

$transition-timing: cubic-bezier(0.16, 1, 0.3, 1);

.header {
  background-color: $pure-white;
  box-shadow: 0px 2px 10px 0px rgba($shadow, 0.15);
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 990;

  &.scrolled {
    .header {
      &__top-decoration {
        transform: translateY(-10px);
      }

      &__main-wrapper {
        margin-top: 0;
      }

      &__navbar::before {
        bottom: -21px;
        left: -60px;
      }

      &__navbar-item {
        font-size: 14px;
      }

      &__navbar-cta {
        font-size: 14px;
      }
    }
  }

  .container {
    position: initial;
  }

  &__top-decoration {
    height: 10px;
    left: -100vw;
    position: absolute;
    right: -100vw;
    top: 0;
    transition: transform 0.2s $transition-timing;
  }

  &__main-wrapper {
    align-items: center;
    display: flex;
    height: 75px;
    justify-content: space-between;
    margin-top: 10px;
    transition: margin-top 0.2s $transition-timing;
  }

  &__logo-wrapper {
    margin: 0;
  }

  &__logo {
    display: block;
    height: 60px;
    width: 60px;

    img {
      width: 100%;
    }
  }

  &__navbar {
    align-items: center;
    display: flex;
    margin-top: 10px;
    position: relative;

    &::before {
      background-color: $secondary;
      border-bottom-left-radius: 50px;
      bottom: -30px;
      content: "";
      left: -140px;
      position: absolute;
      right: -100vw;
      top: -20px;
      transition: left 0.6s $transition-timing;
      z-index: -1;
    }
  }

  &__navbar-wrapper {
    align-items: center;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__navbar-list {
    margin: 0 20px;
  }

  &__navbar-item {
    color: $pure-white;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    transition: font-size 0.2s $transition-timing;
  }

  &__navbar-cta {
    background-color: $pure-white;
    border: none;
    border-radius: 8px;
    color: $secondary;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    margin-left: 40px;
    padding: 15px 50px;
    text-transform: uppercase;
    transition: font-size 0.2s $transition-timing;
  }

  &__mobile-button {
    align-items: center;
    background-color: $secondary;
    border: none;
    border-radius: 8px;
    display: none;
    height: 60px;
    justify-content: center;
    margin-left: 10px;
    margin-top: 48px;
    position: relative;
    transition: margin-top 0.2s $transition-timing;
    width: 60px;

    &.active {
      span {
        transition: bottom 0.2s $transition-timing,
                    top 0.2s $transition-timing,
                    transform 0.2s $transition-timing 0.4s,
                    width 0.2s $transition-timing 0.2s;

        &:nth-child(1) {
          top: 5px;
          transform: rotate(45deg);
        }

        &:nth-child(2) {
          bottom: 5px;
          transform: rotate(-45deg);
          width: 100%;
        }
      }
    }

    div {
      height: 12px;
      position: relative;
      width: 25px;
    }

    span {
      background-color: #ffffff;
      border-radius: 8px;
      height: 2px;
      position: absolute;
      right: 0;
      transition: bottom 0.2s $transition-timing 0.4s,
                  top 0.2s $transition-timing 0.4s,
                  transform 0.2s $transition-timing,
                  width 0.2s $transition-timing 0.2s;

      &:nth-child(1) {
        top: 0;
        width: 100%;
      }

      &:nth-child(2) {
        bottom: 0;
        width: 50%;
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .header {
    &.scrolled {
      .header {
        &__navbar::before {
          left: -40px;
        }

        &__navbar-item,
        &__navbar-cta {
          font-size: 12px;
        }
      }
    }

    &__navbar::before {
      left: -80px;
    }

    &__navbar-item,
    &__navbar-cta {
      font-size: 14px;
    }
  }
}

@media only screen and (max-width: 767px) {
  .header {
    background-color: transparent;
    box-shadow: none;

    &.scrolled {
      .header {
        &__main-wrapper {
          margin-top: 30px;
        }

        &__mobile-button {
          margin-top: 30px;
        }
      }
    }

    &__container {
      align-items: center;
      display: flex;
    }

    &__main-wrapper {
      background-color: $pure-white;
      border-radius: 8px;
      flex: 1;
      height: 60px;
      margin-top: 48px;
    }

    &__logo-wrapper {
      margin-left: 15px;
    }

    &__navbar {
      display: none;

      &::before {
        content: none;
      }
    }

    &__mobile-button {
      display: flex;
    }
  }
}
