@import "@scss/pallete";

$transition-timing: cubic-bezier(0.16, 1, 0.3, 1);

.teams {
  margin: 110px 0;
  overflow: hidden;

  .swiper-container {
    overflow: visible;
  }

  &__section-title {
    color: $secondary;
    margin-top: 295px;
    padding-left: 200px;

    img {
      bottom: 32px;
      left: 0;
      transform: none;
      width: 80.75%;
    }
  }

  &__slider {
    margin-top: 100px;
  }

  &__slide {
    position: relative;

    &:hover {
      .teams__content {
        opacity: 1;
        transform: translateY(50%);
      }
    }
  }

  &__image-wrapper {
    background-color: $grey;
    border-radius: 30px;
    box-shadow: 2px 2px 10px rgba($pure-black, 0.20);
    height: 0;
    overflow: hidden;
    padding-top: 128%;
    position: relative;
  }

  &__image {
    height: 100%;
    left: 0;
    object-fit: cover;
    object-position: top;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &__content {
    background-color: $primary;
    border-radius: 30px;
    bottom: 0;
    left: 0;
    opacity: 0;
    overflow: hidden;
    padding: 25px;
    position: absolute;
    right: 0;
    transform: translateY(60%);
    transition: transform 0.6s $transition-timing, opacity 0.8s $transition-timing;

    &::after {
      background-color: $grey-dark;
      border-radius: 50%;
      content: "";
      height: 160px;
      position: absolute;
      right: -50px;
      top: 30px;
      width: 160px;
      z-index: -1;
    }
  }

  &__title {
    color: $pure-white;
    font-size: 18px;
    font-weight: 700;
    margin: 0;
  }

  &__position {
    color: $pure-white;
    font-size: 16px;
    font-weight: 300;
    margin: 0;
  }

  &__navigation-wrapper {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
  }

  &__team-details {
    align-items: center;
    color: $pure-black;
    display: flex;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    transition: color 0.4s $transition-timing;

    &:hover {
      color: $primary;

      &::before {
        width: 0;
      }
    }

    &::before {
      background-color: $pure-black;
      content: "";
      height: 1px;
      margin-right: 15px;
      transform: 100%;
      transition: width 0.4s $transition-timing;
      width: 35px;
    }
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .teams {
    &__section-title {
      margin-top: 195px;
      padding-left: 150px;

      img {
        bottom: 24px;
      }
    }

    &__slider {
      margin-top: 80px;
    }

    &__image-wrapper {
      border-radius: 20px;
    }

    &__content {
      border-radius: 20px;
      padding: 15px 25px;
    }

    &__title {
      font-size: 16px;
    }

    &__position {
      font-size: 14px;
    }

    &__navigation-wrapper {
      margin-top: 40px;
    }
  }
}

@media only screen and (max-width: 992px) {
  .teams {
    &__section-title {
      margin-top: 145px;
      padding-left: 100px;
    }

    &__slider {
      margin-top: 50px;
    }
  }
}

@media only screen and (max-width: 575px) {
  .teams {
    margin: 60px 0;

    &__section-title {
      margin-top: 95px;
      padding-left: 0;
      text-align: center;

      img {
        bottom: 82px;
        width: 100%;
      }
    }

    &__image-wrapper {
      border-radius: 15px;
    }

    &__content {
      border-radius: 15px;
      padding: 15px 20px;
    }
  }
}
