@import "@scss/palette";

.home-about {
  background-color: rgba($secondary, 0.9);
  border-top-right-radius: 50px;
  overflow: hidden;
  padding-top: 155px;
  position: relative;

  &::before {
    background-color: $primary;
    border-radius: 50%;
    content: "";
    height: 200px;
    left: 50%;
    position: absolute;
    top: 0;
    transform: translate(-50%, -50%);
    width: 200px;
  }

  &__section-title {
    img {
      bottom: 20px;
      left: -17.5%;
      transform: none;
      width: 95%;
    }
  }

  &__image {
    bottom: -5px;
    max-height: 760px;
    max-width: 52.75%;
    position: absolute;
    right: 0;
    z-index: 5;

    img {
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
  }

  &__content {
    margin-top: 160px;
    padding: 165px 0 50px 0;
    position: relative;

    &::before {
      background-color: rgba($grey-dark, 0.15);
      border-top-left-radius: 50px;
      border-bottom-left-radius: 50px;
      bottom: 0;
      content: "";
      left: -65px;
      position: absolute;
      right: -100vw;
      top: 0;
    }
  }

  &__description {
    color: $pure-white;
    font-size: 16px;
    line-height: 38px;
    margin-bottom: 0;
    width: 55%;
  }

  &__socmed {
    align-items: center;
    display: inline-flex;
    margin-top: 35px;
    padding: 0 55px;
    position: relative;

    &::before,
    &::after {
      background-image: url("@images/icons/arrow-line.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      content: "";
      height: 15px;
      position: absolute;
      width: 15px;
    }

    &::before {
      left: 0;
      top: 0;
    }

    &::after {
      bottom: 0;
      right: 0;
      transform: rotate(180deg);
    }
  }

  &__socmed-title {
    color: $pure-white;
    font-size: 16px;
    font-weight: 700;
    margin-right: 40px;
    text-transform: uppercase;
  }

  &__socmed-image {
    height: 35px;
    margin-right: 30px;
    width: 35px;

    img {
      height: 100%;
      object-fit: contain;
      width: 100%;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .home-about {
    border-top-right-radius: 25px;
    padding-top: 105px;

    &::before {
      height: 150px;
      width: 150px;
    }

    &__section-title {
      img {
        left: -11.75%;
        width: 65%;
      }
    }

    &__content {
      padding-top: 65px;

      &::before {
        left: -45px;
      }
    }

    &__description {
      font-size: 14px;
      line-height: 32px;
    }

    &__socmed {
      padding: 0 40px;
    }

    &__socmed-title {
      font-size: 14px;
      margin-right: 30px;
    }

    &__socmed-image {
      height: 25px;
      margin-right: 15px;
      width: 25px;
    }
  }
}

@media only screen and (max-width: 991px) {
  .home-about {
    padding-top: 105px;

    &__image {
      display: none;
    }

    &__content {
      margin-top: 60px;
    }

    &__section-title {
      img {
        left: 0;
        width: 100%;
      }
    }

    &__description {
      width: 100%;
    }

    &__socmed {
      justify-content: center;
      width: 100%;
    }
  }
}

@media only screen and (max-width: 575px) {
  .home-about {
    border-top-right-radius: 25px;

    &::before {
      height: 150px;
      width: 150px;
    }

    &__content {
      padding-top: 115px;
    }

    &__description {
      font-size: 14px;
      line-height: 32px;
    }

    &__socmed {
      padding: 0 40px;
    }

    &__socmed-title {
      font-size: 14px;
      margin-right: 30px;
    }

    &__socmed-image {
      height: 25px;
      margin-right: 15px;
      width: 25px;
    }
  }
}
