$font-stack: Raleway, sans-serif;
$primary-color: #333;

* {
    box-sizing: border-box;
}

body {
    font-family: $font-stack;
    color: $primary-color;
}

.container {
    @media (min-width: 1400px) {
      max-width: 80%;
    }
  }

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
    &__title {
        font-size: 84px;
    }
}